.git
.idea
.vscode

node_modules
vendor

.env
.env.*
!.env.docker.example

storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*

npm-debug.log
yarn-error.log
pnpm-debug.log

docker-compose.override.yml
compose.override.yml
